.wrap
{background-color:red;
width:400px;
height: 400px;
position: relative;}

.box

{background-color: blue;
	width:100px;
	height: 100px;
	margin: auto;
	position: absolute;
	bottom: 20px;

}
body{
	margin: 0px;
	margin-top: 0px;
}